* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.all_border {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(171, 150, 108);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    margin: 0.2rem;
    font-size: 1.1rem;
}

.ps {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

label {
    font-size: 1rem;
}

a {
    color: skyblue;
    font-size: 1rem;
    text-decoration: none;
}

#validate{
	margin: 0.5rem
}

.all_border {
    position: relative;
    background: #fff;
    border-radius: 10px;
    /* padding:0.6rem; */
    width: 50rem;
    height: 41.5rem;
    overflow: hidden;
    max-width: 100vw;
    max-height: 75vh;
}

.choose_border form {
    /* background: aquamarine; */
    background-image: url(../../image/donation/temple1_01.jpg);
    background-size:cover;
    display: flex;
    flex-direction: column;
    padding: 0 1.8rem;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    height: 100%;
}

#Payment1 {
    border: 3px solid #01B468;
    background: #01B468;
    width: 100%;
    height: 5vh;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1rem;
    margin: 3vh;
}

#Payment2 {
    border: 1px solid goldenrod;
    background: goldenrod;
    width: 100%;
    height: 5vh;
    font-size: 1rem;
    margin: 3vh;
    outline: none;
}


.Payment_border form {
    /* background: aquamarine; */
    background-image: url(../../image/donation/temple2_02.jpg);
    background-size:cover;
    /* background-size可以將背景圖片的大小放大至容器大小並填滿 */
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    width: auto;
    height: 100%;
    justify-content: center;
    /* align-items: center; */
}

.form-control {
    width: 100%;
    height: 2.2rem;
    border-radius: 0.2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    outline: none;
    margin: 0.6rem;
}

.form-folat_mb2 {
    margin: 0.3rem;
    text-align: center;
}



button.ghost {
    background: transparent;
    /* border-color: #fff; */
    /* border: 1px solid #fff; */
    outline: none;
    width: 5rem;
    border-radius: 1rem;
    transition: all 800ms ease-in;
    /* 轉變 ease-in緩入 */
    margin: 0.6rem 0;
    padding: 0.5rem 0;
    /* color: #fff; */
    font-size: 0.6rem;
}

button.ghost:active {
    transform: scale(0.95, 0.95);
}

.choose_border {
    /* 定位付款方式 */
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    transition: all 0.6s ease-in;
}

.Payment_border {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all 0.6s ease-in;
}

.sign-in-container {
    left: 0;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay {
    /* background-color: #417dff; */
    background-image: url(../../image/donation/temple3.jpg);
    background-size:cover;
    width: 200%;
    height: 100%;
    position: relative;
    left: -100%;
    transition: all 0.6s ease-in-out;
    /* color: white; */
}

.overlay_border {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 99;
}

.overlay_pannel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 0 2.2rem;
}

.overlay_right {
    right: 0;
}

.all_border.right-panel-active .overlay_border {
    transform: translateX(-100%);
}

.all_border.right-panel-active .sign-in-container {
    transform: translateX(100%);
    transition: all 0.6s ease-in-out;
    z-index: 0;
}

.all_border.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    transition: all 0.6s ease-in-out;
}

.all_border.right-panel-active .overlay {
    transform: translateX(50%);
}

.all_border.right-panel-active .overlay_left {
    transform: translateX(0%);
    transition: all 0.6s ease-in-out;
}

.all_border.right-panel-active .overlay_right {
    transform: translateX(20%);
    transition: all 0.6s ease-in-out;
}


/* ------------------下面是跳出視窗----------------- */

.popout {
    text-align: left;
}

.modal-header a {
    font-size: 25px;
    padding-top: 5px;
    font-family: 'Times New Roman', Times, serif
}

.modal-footer button{
    border: 1px solid #417dff;
    height: 2rem;
    width: 4rem;
    border-radius: 0.5em;
    background-color: #417dff;
    
}